<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인력사무소</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="container">
        <!-- Header Fragment -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Center Section -->
        <div class="center d-flex mx-auto">
            <!-- Sidebar Fragment -->
            <div th:replace="fragments/sidebar :: sidebar"></div>

            <!-- Content Fragment -->
            <div th:replace="fragments/center :: center"></div>
        </div>

        <!-- Footer Fragment -->
        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>
