.header,
.center,
.footer,
.sidebar,
.content,
.login,
.boardList {
	border-radius: 2px;
}

.header {
	background-color: lightgray;
	height: 20vh;
}

.center {
	background-color: sandybrown;
	min-height: 80vh;
}

.sidebar {
	background-color: yellow;
}

.content {
	background-color: blue;
	width: 100%;
	margin-left: 0.7vw;
}

.login {
	background-color: deepskyblue;
	padding: 1rem;
}

.menuList {
	background-color: skyblue;
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	align-items: left;
	justify-content: flex-start;
}

.hideBoardlistContent {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 1rem;
}

.footer {
	background-color: salmon;
	text-align: center;
	padding: 1rem;
	position: sticky;
	bottom: 0;
}