<div th:fragment="AdminCategory" class="content text_normal">
	<p class="border_title">카테고리 리스트</p>
	<table class="table table-border table-sm" style="text-align: center;">

		<thead>
			<tr>
				<th>카테고리 이름</th>
				<th>관리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="boardCategory : ${boardCategoryList}">
				<td th:text="${boardCategory.categoryName}">카테고리 이름</td>
				<td>
					<button class="btnsmall"
						th:attr="categoryNo=${boardCategory.boardCategoryNo}, categoryName=${boardCategory.categoryName}"
						onclick="openEditModal(this.getAttribute('categoryNo'), this.getAttribute('categoryName'))">
						수정
					</button>

					<button class="btn_red" th:attr="categoryNo=${boardCategory.boardCategoryNo}"
						onclick="deleteCategory(this.getAttribute('categoryNo'))">삭제</button>
				</td>
			</tr>
		</tbody>

	</table>

	<!-- 모달창 -->
	<div id="editCategoryModal" class="modal" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">카테고리 수정</h5>
					<button type="button" class="close" onclick="closeModal()">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="categoryId" name="categoryId">
					<div class="form-group">
						<label for="categoryName">카테고리 이름</label>
						<input type="text" class="form-control" id="categoryName" name="categoryName">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="submitEditCategory(document.getElementById('categoryId'), 
						document.getElementById('categoryName'))">저장</button>
				</div>
			</div>
		</div>
	</div>


	<!-- 카테고리 생성 버튼 -->
	<div style="margin-top: 10px;">
		<button type="button" class="btn" id="toggleFormBtn" onclick="toggleCreateCategoryFormBtn()">카테고리
			생성</button>
	</div>

	<!-- 카테고리 생성 폼 (초기 상태: 숨김) -->
	<div id="createCategoryForm" style="margin-top: 20px; display: none;">
		<h3>카테고리 생성</h3>
		<form action="/admin/createCategory" method="post" th:action="@{/admin/createCategory}">
			<div class="form-group">
				<label for="categoryName">카테고리 이름</label>
				<input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="카테고리 이름 입력">
			</div>
			<button type="submit" class="btn btn-success">생성</button>
		</form>
	</div>
</div>