<div th:fragment="BoardList" class="content">
	<h1>게시판 리스트</h1>
	<table border="1" cellpadding="5" cellspacing="0" style="width: 100%; border-collapse: collapse;">
		<thead>
			<tr>
				<th>게시판 번호</th>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>상태</th>
				<th>카테고리</th>
				<th>관리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board : ${boardList}">
				<td th:text="${board.boardNo}"></td>
				<td th:text="${board.boardTitle}"></td>
				<td th:text="${board.boardContent}"></td>
				<td th:text="${board.writerId}"></td>
				<td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${board.boardState}"></td>
				<td th:text="${board.category?.categoryName}"></td>
				<td th:if="${board.boardState != 'Deleted'}">
					<button type="button" class="btn btn-danger btn-sm" th:attr="boardNo=${board.boardNo}"
						onclick="deleteBoard(event)">삭제</button>
				</td>
			</tr>
		</tbody>

	</table>
</div>