<div th:fragment="AdminUser" class="content text_normal">
	<p class="border_title">회원 관리</p>
	<table class="table table-border table-sm" style="text-align: center;">
		<thead>
			<tr>
				<th>회원번호</th>
				<th>아이디</th>
				<th>회원이름</th>
				<th>이메일</th>
				<th>나이</th>
				<th>회원 상태</th>
				<th>생성일</th>
				<th>수정일</th>
				<th>관리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${UserList}">
				<td th:text="${user.userNo}"></td>
				<td th:text="${user.userId}"></td>
				<td th:text="${user.userName}"></td>
				<td th:text="${user.userEmail}"></td>
				<td th:text="${user.userAge}"></td>
				<td th:text="${user.userState}"></td>
				<td
					th:text="${#strings.substring(user.createdAt.toString(), 0, 10) + ' ' + #strings.substring(user.createdAt.toString(), 11, 16)}">
				</td>
				<td
					th:text="${#strings.substring(user.updatedAt.toString(), 0, 10) + ' ' + #strings.substring(user.updatedAt.toString(), 11, 16)}">
				</td>

				<td th:if="${user.userState != 'Deleted'}">
					<button type="button" th:attr="userId=${user.userId}" class="btn btn-danger btn-sm"
						onclick="deleteUser(event)">삭제</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>