<div th:fragment="sidebar">
	<div class="sidebar text_normal">
		<div class="login">
			<!-- 로그인 상태 확인 -->
			<div th:if="${LoginInfo == null}">
				<!-- 로그인 폼 -->
				<form id="userForm" method="post" th:action="@{/login}">
					<input name="id" type="text" class="form-control mb-1" placeholder="아이디" required>
					<input name="password" type="password" class="form-control mb-1" placeholder="비밀번호" required>
					<input type="submit" value="로그인" class="btn btn-primary btn-block">
				</form>
				<a th:href="@{/registerPage}" class="btn btn-link">회원가입</a>
			</div>
			<div th:if="${LoginInfo != null}">
				<p class="mb-2">안녕하세요, <strong th:text="${LoginInfo.loginName}"></strong> 님!</p>
				<p><strong th:text="${LoginInfo.loginType}"></strong>이십니다.</p>
				<form id="logoutForm" method="post" th:action="@{/logout}">
					<input type="submit" value="로그아웃" class="btn_red">
				</form>
			</div>
		</div>
		<div class="boardList p-3 text_large"> <a href="#" onclick="findAllBoards(event, this)"
				style="text-decoration: none; color: inherit;">
				<p style="color: green;">게시판관리</p>
			</a>
			<a href="#" onclick="findAllCategory(event, this)" style="text-decoration: none; color: inherit;">
				<p style="color: green;">카테고리관리</p>
			</a>
			<a href="#" onclick="findAllUsers(event, this)" style="text-decoration: none; color: inherit;">
				<p style="color: green;">회원관리</p>
			</a>

		</div>
	</div>
</div>