<div th:fragment="BoardList" class="content text_normal">
	<div class="table-responsive">
		
		<table class="table table-border table-sm" style="text-align: center;">
			<thead class="table">
				<tr>
					<th colspan="5">
						<h2 class="border_title">게시판 리스트</h2>
					</th>
				</tr>
				<tr>
					<th scope="col" style="width: 10%;">번호</th>
					<th scope="col" style="width: 20%;">제목</th>
					<th scope="col" style="width: 40%;">내용</th>
					<th scope="col" style="width: 15%;">작성자</th>
					<th scope="col" style="width: 15%;">작성일</th>
				</tr>
			</thead>
			<tbody class="boardList-item">
				<tr th:each="board, iterStat : ${boardList}" th:attr="boardNo=${board.boardNo}"
					onclick="clickBoardItem(event)" class="table-row">
					<td th:text="${iterStat.index+1}"></td>
					<td th:text="${board.boardTitle}"></td>
					<td class="text-truncate" style="max-width: 300px;" th:text="${board.boardContent}"></td>
					<td th:text="${board.writerId}"></td>
					<td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" id="categoryName" name="categoryName" th:value="${categoryName}"></input>

		<ul class="pagination container">
			<li style="margin-right: 5px;" th:classappend="${currentPage == 0} ? 'disabled'">
				<a style="color: green;" href="#"
					th:onclick="'loadBoardList(' + (${currentPage > 0 ? currentPage - 1 : 0}) + ');'">&laquo; 이전</a>
			</li>
			<li style="margin-right: 5px; margin-left: 5px;" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
				th:classappend="${currentPage == pageNum} ? 'active'">
				<a style="color: green;" href="#" th:onclick="'loadBoardList(' + ${pageNum} + ');'"
					th:text="${pageNum + 1}"></a>
			</li>
			<li style="margin-left: 5px;" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
				<a style="color: green;" href="#"
					th:onclick="'loadBoardList(' + (${currentPage + 1 < totalPages ? currentPage + 1 : totalPages - 1}) + ');'">다음
					&raquo;</a>
			</li>
		</ul>
	</div>
	
	<div th:if="${session.LoginInfo}">
		<button class="btnsmall" onclick="location.href='/boardWrite'" type="button">글작성</button>
	</div>
</div>
