<div th:fragment="BoardList" class="content">
	<div class="table-responsive">
		<table class="table table-border table-sm" style="text-align: center;">
			<thead class="table">
				<tr>
					<th colspan="5">
						<h2 class="fw-bold">게시판 리스트</h2>
					</th>
				</tr>
				<tr>
					<th scope="col" style="width: 10%;">번호</th>
					<th scope="col" style="width: 20%;">제목</th>
					<th scope="col" style="width: 40%;">내용</th>
					<th scope="col" style="width: 15%;">작성자</th>
					<th scope="col" style="width: 15%;">작성일</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="board, iterStat : ${boardList}" th:attr="boardNo=${board.boardNo}"
					onclick="clickBoardItem(event)" class="table-row">
					<td th:text="${iterStat.index+1}"></td>
					<td th:text="${board.boardTitle}"></td>
					<td class="text-truncate" style="max-width: 300px;" th:text="${board.boardContent}"></td>
					<td th:text="${board.writerId}"></td>
					<td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${boardList.getContent().size() >= 10}">
			<ul class="pagination">
				<!-- 이전 버튼 -->
				<li th:classappend="${currentPage == 0} ? 'disabled'">
					<a href="#"
						th:onclick="'loadBoardList(' + (${currentPage > 0 ? currentPage - 1 : 0}) + ');'">&laquo; 이전</a>
				</li>

				<!-- 페이지 번호 버튼 -->
				<li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
					th:classappend="${currentPage == pageNum} ? 'active'">
					<a href="#" th:onclick="'loadBoardList(' + ${pageNum} + ');'" th:text="${pageNum + 1}"></a>
				</li>

				<!-- 다음 버튼 -->
				<li th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
					<a href="#"
						th:onclick="'loadBoardList(' + (${currentPage + 1 < totalPages ? currentPage + 1 : totalPages - 1}) + ');'">다음
						&raquo;</a>
				</li>
			</ul>
		</div>



		<div th:if="${session.LoginInfo}">
			<a href="/boardWrite">글작성</a>
		</div>
	</div>
</div>