<div th:fragment="BoardList" class="content">
	<div class="table-responsive">
		<table class="table table-border table-sm" style="text-align: center;">
			<thead class="table">
				<tr>
					<th colspan="5">
						<h2 class="fw-bold">게시판 리스트</h2>
					</th>
				</tr>
				<tr>
					<th scope="col" style="width: 10%;">번호</th>
					<th scope="col" style="width: 20%;">제목</th>
					<th scope="col" style="width: 40%;">내용</th>
					<th scope="col" style="width: 15%;">작성자</th>
					<th scope="col" style="width: 15%;">작성일</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="board, iterStat : ${boardList}" th:attr="data-board-no=${board.boardNo}"
					onclick="clickBoardItem(event)" class="table-row">
					<td th:text="${iterStat.index+1}"></td>
					<td th:text="${board.boardTitle}"></td>
					<td class="text-truncate" style="max-width: 300px;" th:text="${board.boardContent}"></td>
					<td th:text="${board.writerId}"></td>
					<td th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${session.LoginInfo}">
			<a href="/boardWrite">글작성</a>
		</div>
	</div>
</div>