<div th:fragment="boardPage" class="content  text_normal">
	<div class="card shadow">
		<div class="card-header border_title">
			<p th:text="${board.boardTitle}" class="mb-0"></p>
		</div>
		<div class="card-body">
			<p class="text-muted mb-3">
				작성자: <strong th:text="${board.writerId}"></strong> |
				작성일: <span th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
			</p>
			<hr>
			<div style="overflow-y: scroll; height: 50vh;">
				<h5 class="text_large">게시판 내용</h5>
				<p th:text="${board.boardContent}" class="text-dark" style="white-space: pre-wrap;"></p>
			</div>
			<hr>
			<div>
				<h5 class="text_large">카테고리</h5>
				<p th:text="${board.category.categoryName}" class="text-info"></p>
			</div>
		</div>
		<div class="card-footer text-end">
			<div th:if="${LoginInfo != null and LoginInfo.loginId eq board.writerId}" class="btn-group">
			    <button type="button" class="btn_red" th:attr="boardNo=${board.boardNo}" onclick="editBoard(event)">수정</button>
			    <button type="button" class="btnsmall" th:attr="boardNo=${board.boardNo}" onclick="deleteBoard(event)">삭제</button>
			</div>
		</div>
	</div>
</div>