<div th:fragment="sidebar">
    <div class="sidebar">
        <div th:if="${session.AdminName != null}" class="login text-center p-3 mb-3">
            <form id="userForm" method="post" th:action="@{/login}">
                <input name="id" type="text" class="form-control mb-1" placeholder="아이디" required>
                <input name="password" type="password" class="form-control mb-1" placeholder="비밀번호" required>
                <input th:if="${session.AdminName != null}" type="submit" value="로그인" class="btn btn-primary btn-block">
                <input th:if="${session.AdminName == null}" type="submit" value="로그아웃" class="btn btn-danger btn-block">
                <a class="register" th:href="@{/registerPage}">회원가입</a>
            </form>
        </div>
        <div th:if="${session.AdminName == null}" class="login text-center p-3 mb-3">
            <li th:if="${session.AdminName == null and session.UserName != null}" class="nav-item" style="color: white;">
			  	<b><a class="d-inline" th:style="'color: white; text-decoration: none;'" th:text="${session.loggedInProfessorName}"></a></b>님 안녕하세요
			</li>
        </div>
        <div th:if="${session.AdminName == null}" class="login text-center p-3 mb-3">
            <li th:if="${session.AdminName != null and session.UserName == null}" class="nav-item" style="color: white;">
			  	<b><a class="d-inline" th:style="'color: white; text-decoration: none;'" th:text="${session.loggedInProfessorName}"></a></b>님 안녕하세요
			</li>
        </div>
        <div class="boardList p-3">
            <h5>게시판 리스트</h5>
        </div>
    </div>
</div>